@charset "utf-8";

.eyar-box{ width:920px; margin:0px auto; overflow:hidden;}
.eyarc{ width:880px; border-radius:3px; background:#ffffff; overflow:hidden; float:right;}
.eyarc-left{ width:680px; border-right:1px solid #ECEEF4; float:left; }
.eyarc-content{ padding:20px; overflow:hidden;}
.eyarc-pic{ width:640px;}
.eyarc-prices{ font-size:16px; color:#444444; font-weight:bold; font-family:"微软雅黑";}
.eyarc-title{ font-size:14px; color:#666666; height:46px; line-height:46px; padding:0 10px; border-radius:3px; background:#FFF8E6; border:1px solid #FFF1CD; margin:10px 0; position:relative;}
.link-wbuy{ position:absolute; right:10px; top:8px;}
.link-wbuy a{ float:left; width:55px; height:32px; color:#ffffff; text-align:center; font-size:14px; line-height:32px; font-weight:bold; text-decoration:none;}
.link-wbuy a.t1{ background:url(../images/wbuy.png) no-repeat 0 0;}
.link-wbuy a:hover.t1{ background:url(../images/wbuy.png) no-repeat 0 -32px;}
a.link-title:link{color:#666666!important; text-decoration:underline;}
a.link-title:visited{color:#666666!important;  text-decoration:underline;}
a.link-title:hover{color:#f00!important; text-decoration:underline;}

/**
 * Comment
 */
.goodimg{ padding-bottom:20px;}
.commentbox{ text-align:left; color:#666666;} 
.commentbar{ padding:10px 0 30px 0;}
.commentbox li{ float:left;}
.commentbox ul{ margin-bottom:10px;}
.commententer{}
#commentslist{ margin-bottom:30px;}
.commentint{ border:1px solid #dddddd; font-size:12px; height:22px; line-height:23px; padding:3px; width:580px; color:#666666;}

/**
 * You might also like ...
 */
.likebar{ font-size:16px; color:#666666; text-align:center; height:30px; line-height:30px; font-weight:bold;}
.like-box{}
.like-box li{ float:left; margin-right:10px; width:200px; height:200px; color:#666666;}
.like-title{ font-size:13px; color:#666666; text-align:center; height:30px; line-height:30px;}

/**
 * Gotubuy
 */
.eyarc-right{ width:180px; float:left;}
.eyarc-buy{ padding:20px; font-size:15px; overflow:hidden;}
.eyarc-buy li{ height:30px; line-height:30px;}
.eyarc-buy a,.eyarc-buy a:visited{ color:#588CC7;}
.eyarc-buy a:hover{ color:#ff6600;}
.eyarc-buy .icon-buy{ background:url(../images/icon_buy.png) no-repeat 0 8px; padding-left:20px;}
.eyarc-buy .icon-classify{ background:url(../images/icon_classify.png) no-repeat 0 8px; padding-left:20px;}
.eyarc-buy .icon-more{ background:url(../images/icon_more.png) no-repeat 0 8px; padding-left:20px;}
.eyarc-share{ padding:20px;overflow:hidden;}
.eyarc-current-price{ font-size:16px; color:#373D48; font-weight:bold; padding:0 20px; font-family:"微软雅黑";}
.eyarc-price{ padding:20px;overflow:hidden; font-size:18px; color:#666666;}
.eyarc-price a{ float:left; width:160px; height:48px;}
.eyarc-price a.t1{ background:url(../images/goto_buy.png) no-repeat 0 0;}
.eyarc-price a:hover.t1{ background:url(../images/goto_buy.png) no-repeat 0 -48px;}